<div class="footer">
    <table class="footer">
        <tr>
            <td>
                <a href=../home><div class=foot>List of Books</div></a>
            </td>
            <td>
                <a href=../addNewBook><div class=foot>Add Book</div></a>
            </td>
            <td>
                <a href=../deleteABook><div class="foot">Delete a Book</div></a>
            </td>
        </tr>
    </table>
</div>